@import 'tailwindcss';

:root {
    /* Font is imported in head of app.html */
    --page-font: 'Inter', sans-serif;
    --page-font-features: 'liga' 1, 'calt' 1, 'cv05' 1;

    /* Doing this not only means compatibility but lower page footprint if it is supported */
    @supports (font-variation-settings: normal) {
        --page-font: 'InterVariable', sans-serif;
    }
}

@theme inline {
    /* Allows the page font to be defined in :root with conditions */
    --default-font-family: var(--page-font);
    --default-font-feature-settings: var(--page-font-features);
}

@theme {
    --default-transition-duration: 300ms;

    /* Component Styles */

    --radius-default: var(--radius-lg);

    /* Utility */

    --spacing-xs: --spacing(0.5);
    --spacing-sm: --spacing(1);
    --spacing-md: --spacing(2);
    --spacing-lg: --spacing(4);
    --spacing-xl: --spacing(8);
    --spacing-2xl: --spacing(16);
    --spacing-3xl: --spacing(32);
    --spacing-4xl: --spacing(48);
}

/*
    Custom Theme Definitions

    - Makes use of `@theme inline` so variables can be changed dynamically.
    - Follows a similar coloring scheme to Material Design.
        - https://m3.material.io/styles/color/roles
*/

@theme inline {
    --color-surface: var(--theme-surface);
    --color-surface-dim: var(--theme-surface-dim);
    --color-surface-bright: var(--theme-surface-bright);
    --color-on-surface: var(--theme-on-surface);

    --color-container: var(--theme-container);
    --color-container-dim: var(--theme-container-dim);
    --color-container-bright: var(--theme-container-bright);
    --color-on-container: var(--theme-on-container);

    --color-outline: var(--theme-outline, --alpha(currentColor / 50%));
    --color-outline-dim: var(--theme-outline-dim, --alpha(currentColor / 25%));
    --color-outline-bright: var(
        --theme-outline-bright,
        --alpha(currentColor / 75%)
    );

    --color-primary: var(--theme-primary);
    --color-primary-dim: var(--theme-primary-dim);
    --color-primary-bright: var(--theme-primary-bright);
    --color-on-primary: var(--theme-on-primary);

    --color-secondary: var(--theme-secondary);
    --color-secondary-dim: var(--theme-secondary-dim);
    --color-secondary-bright: var(--theme-secondary-bright);
    --color-on-secondary: var(--theme-on-secondary);

    --color-component: var(--theme-component, var(--theme-primary));
    --color-component-dim: var(--theme-component-dim, var(--theme-primary-dim));
    --color-component-bright: var(
        --theme-component-bright,
        var(--theme-primary-bright)
    );
    --color-on-component: var(--theme-on-component, var(--theme-on-primary));

    --color-error: var(--theme-error, var(--color-red-500));
    --color-error-dim: var(--theme-error-dim, var(--color-red-600));
    --color-error-bright: var(--theme-error-bright, var(--color-red-400));
    --color-on-error: var(--theme-on-error, var(--color-red-100));
}

@utility theme-neutral {
    --theme-surface: var(--color-neutral-900);
    --theme-surface-dim: var(--color-neutral-950);
    --theme-surface-bright: var(--color-neutral-800);
    --theme-on-surface: var(--color-neutral-100);

    --theme-container: var(--color-neutral-700);
    --theme-container-dim: var(--color-neutral-800);
    --theme-container-bright: var(--color-neutral-600);
    --theme-on-container: var(--color-neutral-100);

    --theme-primary: var(--color-blue-600);
    --theme-primary-dim: var(--color-blue-700);
    --theme-primary-bright: var(--color-blue-500);
    --theme-on-primary: var(--color-blue-50);

    --theme-secondary: var(--color-rose-600);
    --theme-secondary-dim: var(--color-rose-700);
    --theme-secondary-bright: var(--color-rose-500);
    --theme-on-secondary: var(--color-rose-50);
}

/*
    This utility re-defines all theme colors and tries to define brightness levels
    dynamically where it can, using `color-mix`

    All prettier-ignore's can be removed when https://github.com/prettier/prettier/pull/17362 is released
*/
@utility component-* {
    --theme-component: --value(--color-*, [*]);

    /* 7.5% seems to be the average lightness diff between each level of Tailwind color */
    --theme-component-dim: color-mix(
        in oklab,
        var(--theme-component),
        black 7.5%
    );
    --theme-component-bright: color-mix(
        in oklab,
        var(--theme-component),
        white 7.5%
    );

    /*
        this kind of matching only seems to work with words, it will not work numbers (e.g. -400, -500)
    */
    /* prettier-ignore */
    --theme-component-dim: --value(--color-*-dim);
    /* prettier-ignore */
    --theme-component-bright: --value(--color-*-bright);

    --theme-on-component: --value(--color-on-*);
    --theme-on-component: --modifier(--color-*, [*]);
}

:root {
    /* Setting the default theme at this level is important so all variables are defined */
    @apply theme-neutral;
}

* {
    outline: none;
}

*:not(.focus-invisible):focus-visible {
    /*
        I dislike this, however, in this case there is a lot being handled,
        but generally it's always better to type CSS rather than using macros
    */
    @apply ring ring-primary ring-offset-2 ring-offset-surface transition-shadow;
}

html,
body {
    min-height: 100dvh;
    height: 100%;

    text-underline-offset: 4px;
}

body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}
