@import 'tailwindcss';

@theme {
    /* Component Style Configuration */

    --default-font-family: 'Recia', sans-serif;
    --default-transition-duration: 300ms;

    --radius-default: var(--radius-lg);

    --color-primary-lighter: var(--color-blue-500);
    --color-primary: var(--color-blue-600);
    --color-primary-darker: var(--color-blue-700);

    --color-secondary-lighter: var(--color-rose-500);
    --color-secondary: var(--color-rose-600);
    --color-secondary-darker: var(--color-rose-700);

    --color-subtle-lighter: var(--color-stone-600);
    --color-subtle: var(--color-stone-700);
    --color-subtle-darker: var(--color-stone-800);

    --color-component: var(--color-primary);
    --color-component-lighter: color-mix(
        in oklab,
        var(--color-component) 85%,
        white
    );
    --color-component-darker: color-mix(
        in oklab,
        var(--color-component) 85%,
        black
    );

    /* Page Colors */

    --color-background: var(--color-stone-900);
    --color-text: var(--color-stone-100);

    /* Border Colors */

    --color-edge: rgba(255, 255, 255, 0.25);
    --color-edge-focused: rgba(255, 255, 255, 0.5);
    --color-edge-disabled: transparent;

    /* Utility */

    --spacing-xs: calc(var(--spacing) * 0.5);
    --spacing-sm: calc(var(--spacing) * 1);
    --spacing-md: calc(var(--spacing) * 2);
    --spacing-lg: calc(var(--spacing) * 4);
    --spacing-xl: calc(var(--spacing) * 8);
    --spacing-2xl: calc(var(--spacing) * 16);
    --spacing-3xl: calc(var(--spacing) * 32);
}

/*
    While this feature would be nice to have, the fact this is required is a problem for me. When there
    is a way to define a utility that changes component color via: `component-(--color-blue-400)`
    in Tailwind v4 I will do that. Until then, this is where my proof-of-concept ends.
*/
@utility component {
    --color-component-lighter: color-mix(
        in oklab,
        var(--color-component) 85%,
        white
    );

    --color-component-darker: color-mix(
        in oklab,
        var(--color-component) 85%,
        black
    );
}

*:focus-visible {
    outline: none;

    /*
        I dislike this, however, in this case there is a lot being handled,
        but generally it's always better to type CSS rather than using macros
    */
    @apply ring-primary ring-offset-background ring ring-offset-2 transition-shadow;
}

html,
body {
    min-height: 100dvh;
    text-underline-offset: 4px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);

    height: 100%;
}
