@import 'tailwindcss';

@theme {
    /* Page Styles */

    --default-font-family: 'Sora', sans-serif;
    --default-transition-duration: 300ms;

    --color-background: var(--color-neutral-900);
    --color-text: var(--color-neutral-100);

    /* Component Styles */

    --radius-default: var(--radius-lg);

    --color-primary-lighter: var(--color-blue-500);
    --color-primary: var(--color-blue-600);
    --color-primary-darker: var(--color-blue-700);

    --color-secondary-lighter: var(--color-rose-500);
    --color-secondary: var(--color-rose-600);
    --color-secondary-darker: var(--color-rose-700);

    /* Component Subtle Colors */

    --color-subtle-lighter: var(--color-neutral-600);
    --color-subtle: var(--color-neutral-700);
    --color-subtle-darker: var(--color-neutral-800);

    /* Default Component Background Color */
    --color-component: var(--color-primary);

    /* Color for Text Against the Component Background Color */
    --color-component-text: var(--color-white);

    /* Component Border Colors */

    --color-edge: rgba(255, 255, 255, 0.25);
    --color-edge-focused: rgba(255, 255, 255, 0.5);
    --color-edge-disabled: transparent;

    /* Utility */

    --spacing-xs: --spacing(0.5);
    --spacing-sm: --spacing(1);
    --spacing-md: --spacing(2);
    --spacing-lg: --spacing(4);
    --spacing-xl: --spacing(8);
    --spacing-2xl: --spacing(16);
    --spacing-3xl: --spacing(32);

    --color-component-lighter: color-mix(
        in oklab,
        var(--color-component) 85%,
        white
    );

    --color-component-darker: color-mix(
        in oklab,
        var(--color-component) 85%,
        black
    );
}

/*
    prettier-ignore because it doesn't understand the --color-* syntax, and is inserting a space
*/
@utility component-* {
    /* prettier-ignore */
    --color-component-lighter: color-mix(
        in oklab,
        --value(--color-*) 85%,
        white
    );

    /* prettier-ignore */
    --color-component: --value(--color-*);

    /* prettier-ignore */
    --color-component-darker: color-mix(
        in oklab,
        --value(--color-*) 85%,
        black
    );
}

* {
    outline: none;
}

*:not(.focus-invisible):focus-visible {
    /*
        I dislike this, however, in this case there is a lot being handled,
        but generally it's always better to type CSS rather than using macros
    */
    @apply ring ring-primary ring-offset-2 ring-offset-background transition-shadow;
}

html,
body {
    min-height: 100dvh;
    height: 100%;

    text-underline-offset: 4px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}
